
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
  }
  
  .table th {
    background-color: #333;
    color: #fff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .btn-info {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-info:hover {
    background-color: #117a8b;
  }
  
  .delete-button {
    background-color: #d9534f;
  }
  
  .delete-button:hover {
    background-color: #c9302c;
  }
  
  .link-style {
    text-decoration: none;
    color: #fff;
  }
  
  .link-style:hover {
    text-decoration: underline;
  }
  